---
// 這裡可以寫 JavaScript 邏輯
---
<html lang="zh-Hant">
  <head>
    <meta charset="utf-8" />
    <title>New Freeway 電腦公司</title>
  </head>
  <body>
    <h1>歡迎來到 New Freeway 🛠️</h1>
    <p>網站建置中，請稍後訪問管理後台 /admin 新增產品。</p>
  </body>
</html>
